{% extends 'base.html.twig' %}

{% block body %}
	<div class="row justify-content-center align-items-center">
		<h1 class="mb-4 text-center text-black">Ваш аккаунт был успешно активирован</h1>
		<a href="{{ path('app_index') }}">На главную</a>
	</div>
{% endblock %}
